base.url=https://url.runmydocker-app.com/
#base.url=http://localhost:8080/

#Redis (Upstash Cloud - Secured TLS)
spring.redis.url=rediss://default:<YOUR_UPSTASH_REDIS_PASSWORD>@<YOUR_UPSTASH_REDIS_ENDPOINT>:6379
spring.redis.pool.max-active=8
spring.redis.pool.max-wait=-1
spring.redis.pool.max-idle=8
spring.redis.pool.min-idle=0

#local
#spring.redis.host=localhost
#spring.redis.port=6379

#mongoDB
spring.data.mongodb.uri=mongodb+srv://<USER>:<PASSWORD>@<HOST>/tinydb?retryWrites=true&w=majority
#local
#spring.data.mongodb.uri=mongodb://localhost:27017/tinydb

#Cassandra
spring.data.cassandra.keyspace-name=tiny_keyspace
spring.data.cassandra.username=<CLIENT_ID>
spring.data.cassandra.password=<CLIENT_SECRET>
spring.data.cassandra.schema-action=create_if_not_exists
astra.db.secure-connect-bundle=secure-connect-tinyurl-db.zip
#local
#spring.data.cassandra.contact-points=cassandra

#health check
management.endpoints.web.exposure.include=health,info
management.endpoint.health.show-details=always